<div class="row">
  <div class="col-10 offset-1">
    <div class="space-break"></div>
    <div class="page-title">Ideas</div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-3 offset-1">
    <%= simple_form_for Idea.new, url: ideas_path do |f| %>
      <%= f.input_field :thought, placeholder: 'Idea' %>
      <%= f.input_field :notes, placeholder: 'Notes' %>
      <%= f.submit "Add" %>
    <% end %>
  </div>
</div>
<br>
<div class="row no-gutters">
  <div class="col-3 offset-1">
    <ol id="ideas-list-ol">
      <% Idea.all.each do |ideaEach| %>
        <li class="ideas-list-li">
          <%= ideaEach.thought %>
          <%= ideaEach.notes %>
        </li>
      <% end %>
    </ol>
  </div>
</div>