<!DOCTYPE html>
<html>
  <head>
    <title>UIUX</title>
    <script src="https://unpkg.com/@babel/standalone@7.2.5/babel.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.0.0/umd/react.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.0.0/umd/react-dom.development.js"></script>
    <!-- <script src="../../assets/javascripts/f.js"></script> -->

<!--     UIUX/app/assets/javascripts/f.js
    UIUX/app/views/layouts/application.html.erb -->
    

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>

  <body>

    <div id="flex-content-container">
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to root_path do %>
          <%= link_to 'UIUX', root_path, class: 'navbar-brand' %>
        <% end %>
        <div class="collapse navbar-collapse" id="navbar-content">

          <div class="nav-link-custom-div">
            <%= link_to 'Home', root_path, class: 'nav-link-custom' %>
          </div>
          <div class="nav-divider"></div>
          <div class="nav-link-custom-div">
            <%= link_to 'Ideas', ideas_path, class: 'nav-link-custom' %>
          </div>
          <div class="nav-divider"></div>


        </div>

          <div id="completed-projects-dropdown" class="dropdown-menu-custom">
            <button id="completed-projects-dropdown-button" class="dropdown-button-custom">Completed</button>
            <div id="completed-projects-dropdown-content" class="dropdown-content-custom">
              
            </div>
          </div>
          <div class="nav-divider"></div>
          <div id="work-in-progress-projects-dropdown" class="dropdown-menu-custom">
            <button id="work-in-progress-projects-dropdown-button" class="dropdown-button-custom">Work In Progress</button>
            <div id="work-in-progress-projects-dropdown-content" class="dropdown-content-custom">
              
            </div>
          </div>
          <div class="nav-divider"></div>
          <div id="scratch-projects-dropdown" class="dropdown-menu-custom">
            <button id="scratch-projects-dropdown-button" class="dropdown-button-custom">Scratch</button>
            <div id="scratch-projects-dropdown-content" class="dropdown-content-custom">
              
            </div>
          </div>

      </nav>
    </div>

      <%= yield %>
  </body>
</html>


<script type="text/babel">
  
  $(function() {
    
    var doneArr = [];
    var wipArr = [];
    var scratchArr = [];


    var linkHTML = function(projectName, projectRoute) {
      return (
        <a href={projectRoute} className="nav-link-custom">{projectName}</a>
      );
    }

    $.getJSON({
      url: "/JSONs/projects.json"
    }).done(function(data) {
      var projectsJSON = data;
      
      var i;
      
      for (i in projectsJSON['statuses']['done']) {
        doneArr.push(linkHTML(projectsJSON['statuses']['done'][i]['name'],projectsJSON['statuses']['done'][i]['route']));
      }

      for (i in projectsJSON['statuses']['wip']) {
        wipArr.push(linkHTML(projectsJSON['statuses']['wip'][i]['name'],projectsJSON['statuses']['wip'][i]['route']));
      }

      for (i in projectsJSON['statuses']['scratch']) {
        scratchArr.push(linkHTML(projectsJSON['statuses']['scratch'][i]['name'],projectsJSON['statuses']['scratch'][i]['route']));
      }
      
      ReactDOM.render(doneArr, $('#completed-projects-dropdown-content')[0]);
      ReactDOM.render(wipArr, $('#work-in-progress-projects-dropdown-content')[0]);
      ReactDOM.render(scratchArr, $('#scratch-projects-dropdown-content')[0]);
    });

    $(document).on('mouseover','.dropdown-button-custom', function() {

      ReactDOM.render(doneArr, $('#completed-projects-dropdown-content')[0]);
      ReactDOM.render(wipArr, $('#work-in-progress-projects-dropdown-content')[0]);
      ReactDOM.render(scratchArr, $('#scratch-projects-dropdown-content')[0]);

    });
  });
</script>